<!-- src/app/tab2/tab2.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Photo Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Add (click) handler here -->
      <ion-col
        size="3"
        *ngFor="let photo of photoService.photos; index as position"
        (click)="openImageModal(photo)"  
      >
        <ion-img
          [src]="photo.webviewPath"
          style="cursor: pointer;" 
          ></ion-img> <!-- Optional: Add cursor style -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()"> <!-- Use the component method -->
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>